In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
randn(3,3)

array([[ 0.03659172, -0.87392751,  1.08181354],
       [ 0.24488185,  0.82853526,  0.71679938],
       [-0.86202479,  0.44008775,  0.09245227]])

In [4]:
df=pd.DataFrame(data=randn(3,3),index=["A","B","C"],columns=["Column1","Column2","Column3"])

In [5]:
df

    Column1   Column2   Column3
A -1.637100 -0.176158  1.015789
B  1.108403 -0.443239  1.214374
C  0.228449 -0.933953  0.548329

In [6]:
df["Column2"]

A   -0.176158
B   -0.443239
C   -0.933953
Name: Column2, dtype: float64

In [7]:
df.loc["A"]

Column1   -1.637100
Column2   -0.176158
Column3    1.015789
Name: A, dtype: float64

In [8]:
df["Column4"]=pd.Series(randn(3),["A","B","C"])

In [9]:
df

    Column1   Column2   Column3   Column4
A -1.637100 -0.176158  1.015789  0.914145
B  1.108403 -0.443239  1.214374 -1.748240
C  0.228449 -0.933953  0.548329  0.892737

In [10]:
df["Columns5"]=df["Column1"]+df["Column2"]+df["Column3"]+df["Column4"]

In [11]:
df

    Column1   Column2   Column3   Column4  Columns5
A -1.637100 -0.176158  1.015789  0.914145  0.116676
B  1.108403 -0.443239  1.214374 -1.748240  0.131299
C  0.228449 -0.933953  0.548329  0.892737  0.735563

In [12]:
df.drop("Columns5",axis=1,inplace=True)

In [13]:
df

    Column1   Column2   Column3   Column4
A -1.637100 -0.176158  1.015789  0.914145
B  1.108403 -0.443239  1.214374 -1.748240
C  0.228449 -0.933953  0.548329  0.892737

In [14]:
df.loc["A","Column1"]

-1.6371002126208092